* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;

    /* grid properties */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 
        "header"
        "sidebar"
        "content"
        "spacer"
        "footer";
}

/* header */
.header {
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
    font-style: italic;

    /* grid item properties */
    grid-area: header;
}

/* sidebar */
.sidebar {
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
    

    /* grid item properties */
    grid-area: sidebar;
    
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    border: 1px solid brown;
    box-shadow: 1px 1px 1px grey inset, 1px 1px 1px grey;

    /* flex item properties */
    flex-grow: 1;
}

/* content */
.content {
    display: grid;
    padding: 10px 5px;

    /* grid item properties */
    grid-area: content;

    /* grid properties */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px 10px;

}

.card {
    display: flex;
    text-align: center;
    box-shadow: 2px 2px 2px grey inset, 2px 2px 2px grey;
    max-height: 200px;
    overflow: scroll;

    /* flex properties */
    flex-direction: column;
}

.card img {
    width: 100%;
    margin-bottom: 2px;
}

.card p {
    margin-top: auto;
    margin-bottom: 0;
}

/* spacer */
.spacer {
    /* grid item properties */
    grid-area: spacer;
}

/* footer */
.footer {
    background-color: antiquewhite;
    display: flex;
    text-align: center;

    /* grid item properties */
    grid-area: footer;
}

.footer a {
    text-decoration: none;
    color: inherit;
    border: 1px solid brown;
    box-shadow: 1px 1px 1px grey inset, 1px 1px 1px grey;
    

    /* flex item properties */
    flex-grow: 1;
    
}


@media only screen and (400px < width < 600px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (width >= 600px) {

    body {
    
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "header  header header"
            "sidebar content content" 
            "spacer-col-1  spacer  spacer"  
            "footer  footer  footer"; 
    }

    .sidebar {
        flex-direction: column;
    }

    .sidebar a {
        flex-grow: 0;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        max-width: 600px;
        margin: 0 auto;
    }

    .spacer-col-1 {
        grid-area: spacer-col-1;
        background-color: antiquewhite;
    }
}
